@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url('https://fonts-gstatic.lug.ustc.edu.cn/s/raleway/v9/8KhZd3VQBtXTAznvKjw-k_k_vArhqVIZ0nv9q090hN8.woff2') format('woff2'), url('https://fonts-gstatic.lug.ustc.edu.cn/s/raleway/v9/8KhZd3VQBtXTAznvKjw-kxsxEYwM7FgeyaSgU71cLG0.woff') format('woff');
}

body {
  margin: 0px;
  font-family: 'Raleway';
}

header {
  background: #248;
  font-size: 48px;
  padding: 1.2em 1.2em 1.6em;
}

.topbar-title {
  font-size: 36px;
  color: white;
  padding-bottom: 0.6em;
}

.topbar-tagline {
  font-size: 24px;
  color: #8af;
}

main {
  font-size: 32px;
  padding: 2.4em 2em;
}

a {
  color: #44f;
  text-decoration: none;
}

.item {
  padding: 1em;
  border-bottom: 1px solid #eee;
}

.info {
  color: #118;
}

hr {
  color: #eee;
  border-color: #eee;
}

.right-align {
  text-align: right;
}
